{% extends "base.html" %}
{% load i18n %}


{% block content %}

<form action="." method="post">{% csrf_token %}
    <input type="hidden" name="{{ action_name }}" value="{{ action }}">
    <h2>{% blocktrans with vnp=opts.verbose_name_plural %}Delete selected {{ vnp }}{% endblocktrans %}</h2>
    <p>{% blocktrans with vnp=opts.verbose_name_plural %}Are you sure you wish to delete these {{ vnp }}?{% endblocktrans %} ({{ queryset.count }})</p>
    <div class="alert alert-danger">
        <b>{% trans 'Warning!' %}</b>: {% blocktrans %}Related data that depends on these objects will also be deleted.{% endblocktrans %}
    </div>
    <ul>{% for object in queryset %}
        <li>
            <input type="hidden" value="{{ object.id }}" name="{{ selected_name }}" />
            {{ object }}
        </li>{% endfor %}
    </ul>
    <button class="btn btn-danger" name="confirmed" value="1">{% trans 'Delete them' %}</button>
    <a class="btn" href=".">{% trans "Whoa!, don't do it!" %}</a>
</form>

{% endblock content %}
