{% load crispy_forms_tags %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "styles/inlines.css" %}" />

<div class="inline form-inline">
    <fieldset>
        <legend>{{ title }}</legend>
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        <div class="empty-form">
            {{ formset.empty_form|crispy }}
            <hr />
        </div>
        <div class="forms">
            {% for form in formset.forms %}
            <div class="form">
                {{ form|crispy }}
                <hr />
            </div>
            {% endfor %}
        </div>
    </fieldset>
    {% block add-more-button %}
    <button class="btn btn-default add-more glyphicon glyphicon-plus"></button>
    {% endblock %}
</div>