{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "styles/inlines.css" %}" />

<div class="inline form-horizontal">
    <fieldset>
        <legend>{{ title }}</legend>
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        <div class="empty-form">
            {% include 'forms/bootstrap.html' with form=formset.empty_form %}
            <hr />
        </div>
        <div class="forms">
            {% for form in formset.forms %}
                <div class="form">
                    {% include 'forms/bootstrap.html' %}
                    <hr />
                </div>
            {% endfor %}
        </div>
    </fieldset>
    {% block add-more-button %}
    <button class="btn btn-default add-more glyphicon glyphicon-plus"></button>
    {% endblock %}
</div>